*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.pyc
*.kate-swp
core

*.old
old-*
tmp*
backup*
trash

lfd_vision/bin/
lfd_vision/build/
lfd_vision/lib/
lfd_vision/msg_gen
lfd_vision/srv_gen
lfd_vision/src/lfd_vision
