*~
*.d
*.o
*.lo
*.a
*.so
*.so.*
*.out
*.pyc
*.kate-swp
core

*.old
old-*
tmp*
backup*
trash

bin/
build/
data_gen/
lib/
msg_gen/
srv_gen/
fingervision_msgs/src/fingervision_msgs
standalone/blob_calib.yaml
