<!-- FingerVision demo of two sensors streamed over Ethernet network; filters are applied -->
<launch>
  <include file="$(find fingervision)/launch/fv_2.launch"/>

  <node type="fv_filter1.py" pkg="fingervision" name="fv_filter1_l" ns="fingervision" output="screen">
    <param name="fv" value="fv_2_l" />
    <param name="side" value="l" />
  </node>
  <node type="fv_filter1.py" pkg="fingervision" name="fv_filter1_r" ns="fingervision" output="screen">
    <param name="fv" value="fv_2_r" />
    <param name="side" value="r" />
  </node>
</launch>
