<!-- FingerVision demo of two sensors streamed over Ethernet network -->
<launch>
  <node type="fv_core_node" pkg="fingervision" name="fv_2_l" ns="fingervision" output="screen">
    <param name="pkg_dir" value="$(find fingervision)/" />
    <param name="cam_config" value="config/fv_2_l.yaml" />
    <param name="stereo_config" value="config/fv_2_l.yaml" />
    <param name="blobtrack_config" value="config/fv_2_l.yaml" />
    <param name="objdettrack_config" value="config/fv_2_l.yaml" />
    <param name="blob_calib_prefix" value="data_gen/blob_" />
    <param name="frame_skip" value="0" />
    <param name="target_fps" value="30" />
  </node>
  <node type="fv_core_node" pkg="fingervision" name="fv_2_r" ns="fingervision" output="screen">
    <param name="pkg_dir" value="$(find fingervision)/" />
    <param name="cam_config" value="config/fv_2_r.yaml" />
    <param name="stereo_config" value="config/fv_2_r.yaml" />
    <param name="blobtrack_config" value="config/fv_2_r.yaml" />
    <param name="objdettrack_config" value="config/fv_2_r.yaml" />
    <param name="blob_calib_prefix" value="data_gen/blob_" />
    <param name="frame_skip" value="0" />
    <param name="target_fps" value="30" />
  </node>
</launch>
